<style>
    a {
        color: orange;
    }

    a:hover {
        color: orange;
    }

    .header {
        color: black;
        margin-top: 20px;
        font-weight: bold;
        margin-right: 10px;
        margin-left: 10px;
    }

    .header2 {
        color: orange;
        margin-top: 20px;
        margin-bottom: 20px;
        font-weight: bold;
        margin-right: 10px;
        margin-left: 10px;
        font-size: large;
    }

    p {
        margin-right: 20px;
        margin-left: 20px;
    }

    h4,
    h5 {
        font-weight: bold;
    }
</style>
<div class="container">
    <div class="mr-2 ml-2">
        <div class="mt-3">
            <h5 class="mb-5 mr-3" style="color: orange;">&nbsp; </h5>
        </div>
        <div class="mt-3 text-center">
            <h4 class="mb-5 header mr-3">تماس با نوِنو</h4>
        </div>
        <div class="mt-5">
            <p>
                لطفا پیش از انجام هرگونه تماس با نونو، بخش‌های<a href="/foot/qavanin"> قوانین و شرایط استفاده از نونو</a>،<a href="/foot/help">
                    راهنمای معامله در نوِنو</a>و<a href="/foot/faqs"> سوالات متداول </a>را مطالعه کنید. در صورتی که نیاز به
                راهنمایی بیشتری دارید از فرم زیر استفاده کنید.
            </p>
        </div>
        <div class="card-body row d-flex justify-content-center">
            <div class="col-xl-6">
                <form>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">نام و نام‌خانوادگی (ضروری)</label>
                        <input required type="email" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">ایمیل (ضروری)</label>
                        <input required type="email" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">شماره تماس (ضروری)</label>
                        <input required type="email" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">موضوع</label>
                        <input required type="email" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">پیغام شما</label>
                        <textarea class="form-control" rows="3"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlFile1">انتخاب فایل</label>
                        <input required type="file" class="form-control-file" id="exampleFormControlFile1">
                    </div>
                    <div class="d-flex justify-content-center">
                        <button class="btn btn-warning btn-lg">ارسال</button>
                    </div>
                </form>
            </div>
        </div>
        <hr>
        <div>
            <h4>اطلاعات دفتر نوِنو</h4>
            <h5> آدرس:</h5>
            <p> شیراز – زرقان – خیابان قیام- کوچه ۲ – واحد ۲- پلاک ۱۵۷</p>

            <h5>کد پستی:</h5>
            <p> ۷۳۴۱۶-۳۹۱۳۱</p>

            <h5>شماره تماس:</h5>
            <p>۰۷۱-۳۲۶۲-۷۲۰۴</p>

            <h5>شماره موبایل (در مواقع ضروری):</h5>
            <p>۰۹۱۰۷۷۸۶۹۵۳</p>

            <h5>ساعات کاری نونو:</h5>
            <p>پاسخگویی تلفنی: ۹ الی ۲۰</p>
            <p>پشتیبانی: هفت روز هفته / ۲۴ ساعت شبانه روز</p>

            <h5>ارتباط با نونو از طریق ایمیل:</h5>
            <p><a href="https://info@noeno.ir">info@noeno.ir</a> </p>
        </div>
    </div>
    <hr>
    <div>
        <div class="mt-3 ">
            <h4 class="mb-5 header mr-3">نمایندگی‌های نونو</h4>
        </div>
        <div class="">
            <div class="shadow-lg p-3 mb-5 bg-white rounded">
                <div id="accordion">
                    <div class="mt-1">
                        <div class="">
                            <a class="header2" data-toggle="collapse" href="#collapse1">
                                شیراز
                            </a>
                        </div>
                        <div id="collapse1" class="collapse show" data-parent="#accordion">
                            <h5> آدرس:</h5>
                            <p> شیراز – زرقان – خیابان قیام- کوچه ۲ – واحد ۲- پلاک ۱۵۷ </p>
                            <h5>تلفن:</h5>
                            <p>۰۷۱-۳۲۶۲-۷۲۰۴</p>
                            <h5>مسئول:</h5>
                            <p> آقای هوشنگ تدریسی، شماره همراه ۰۹۳۵۹۵۲۱۵۷۳</p>
                        </div>
                    </div>
                    <div class="mt-3">
                        <div class="">
                            <a class="header2" data-toggle="collapse" href="#collapse2">
                                تهران و کرج
                            </a>
                        </div>
                        <div id="collapse2" class="collapse " data-parent="#accordion">
                            <h5> آدرس:</h5>
                            <p>کرج، جاده ملارد، گلستان یکم، نسترن۲۵،پلاک۱۳، واحد۱۷</p>
                            <h5>تلفن:</h5>
                            <p>۰۲۶-۳۶۶۶-۸۵۷۴</p>
                            <h5>مسئول:</h5>
                            <p>آقای پیمان نمدی، شماره همراه  ۰۹۳۵۳۲۷۹۹۶۵</p>
                        </div>
                    </div>
                    <div class="mt-3">
                        <div class="">
                            <a class="header2" data-toggle="collapse" href="#collapse3">
                               اصفهان
                            </a>
                        </div>
                        <div id="collapse3" class="collapse " data-parent="#accordion">
                            <h5> آدرس:</h5>
                            <p>اصفهان، بلوار کشاورز، انتهای بلوار شفق، جنب بیمه البرز</p>
                            <h5>تلفن:</h5>
                            <p>۰۳۱-۳۷۷۹-۱۹۸۹</p>
                            <h5>مسئول:</h5>
                            <p>آقای مجتبی فیاض، شماره همراه  ۰۹۳۷۶۶۴۱۱۱۲</p>
                        </div>
                    </div>
                    <div class="mt-3">
                        <div class="">
                            <a class="header2" data-toggle="collapse" href="#collapse4">
                              بوشهر
                            </a>
                        </div>
                        <div id="collapse4" class="collapse " data-parent="#accordion">
                            <h5> آدرس:</h5>
                            <p>بوشهر، عالیشهر، فاز۲، خیابان انقلاب، مجتمع قائم</p>
                            <h5>تلفن:</h5>
                            <p>.</p>
                            <h5>مسئول:</h5>
                            <p>آقای اشکان احمدی، شماره همراه  ۰۹۹۰۱۳۹۱۷۸۰</p>
                        </div>
                    </div>
                    <div class="mt-3 mb-1">
                        <div class="">
                            <a class="header2" data-toggle="collapse" href="#collapse5">
                             بوشهر- دشتی
                            </a>
                        </div>
                        <div id="collapse5" class="collapse " data-parent="#accordion">
                            <h5> آدرس:</h5>
                            <p>خورموج، خیابان شهید صیفی، کوچه۳</p>
                            <h5>تلفن:</h5>
                            <p>۰۷۷-۳۵۳۳-۰۸۵۴</p>
                            <h5>مسئول:</h5>
                            <p>آقای ابراهیم محمودی، شماره همراه  ۰۹۱۷۷۷۶۸۲۰۶</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>