<style>
    a {
        color: orange;
        margin-right: 10px;
        margin-left: 10px;
    }

    a:hover {
        color: orange;
    }

    .header {
        color: black;
        font-size: medium;
        margin-top: 20px;
        font-weight: bold;
    }

    p {
        margin-right: 10px;
        margin-left: 10px;
    }

    table {
        margin-right: 5px;
        margin-left: 5px;
    }

    h5,
    h4 {
        font-weight: bolder;
    }
</style>
<div class="container">
    <div class="mt-3">
        <h5 class="mb-5 mr-3" style="color: orange;">&nbsp; </h5>
    </div>
    <div class="mt-3">
        <h4 class="mb-5 mr-2">راهنمای معامله در نوِنو</h4>
    </div>

    <div class="mr-2" id="accordion">
        <div class="mt-3">
            <h5 class="mb-5 mr-3" style="color: orange;"> راهنمای کلی</h5>
        </div>
        <div class="">
            <div class="">
                <a class="header" data-toggle="collapse" href="#collapse1">
                    نوع کالاهایی که در نوِنو معامله می‌شوند
                </a>
            </div>
            <div id="collapse1" class="collapse" data-parent="#accordion">
                <div class="">
                    <p>نونو بازار خرید، فروش و معاوضه اینترنتی کالاهای نو استفاده نشده می‌باشد (کالاهای به اصطلاح
                        نوِنو). از ثبت کالاهای کهنه و کارکرده جلوگیری می‌شود. همچنین امکان معامله کالاهای تازه تولید شده
                        توسط کسب و کارهای کوچک محلی و خانگی نیز در بستر نوِنو فراهم است.</p>
                </div>
            </div>
        </div>
        <div class="">
            <div class="">
                <a class="header" data-toggle="collapse" href="#collapse2">
                    ثبت نام در سایت نونو
                </a>
            </div>
            <div id="collapse2" class="collapse" data-parent="#accordion">
                <div class="">
                    <p>برای ثبت نام در سایت نوِنو از بخش ورود/ثبت نام اقدام کنید تا به صفحه ثبت نام هدایت شوید.</p>
                </div>
            </div>
        </div>
        <div class="">
            <div class="">
                <a class="header" data-toggle="collapse" href="#collapse3">
                    ارتباط کاربران با پشتیبانی سایت
                </a>
            </div>
            <div id="collapse3" class="collapse" data-parent="#accordion">
                <div class="">
                    <p> کاربران سایت نونو اگر سوالی در مورد خدمات نوِنو دارند جهت ارتباط با پشتیبانی می توانند با کلیه
                        راههای ارتباطی که از بخش <a href="#">تماس با ما</a>در اختیار کاربران قرار داده شده است استفاده
                        کنند.
                    </p>
                </div>
            </div>
        </div>
        <div class="">
            <div class="">
                <a class="header" data-toggle="collapse" href="#collapse4">
                    ارتباط کاربران با یکدیگر
                </a>
            </div>
            <div id="collapse4" class="collapse" data-parent="#accordion">
                <div class="">
                    <p>ارتباط میان کاربران سایت از طریق دکمه چت که در صفحه محصول و صفحه هر کاربر قابل مشاهده است
                        امکانپذیر می باشد.</p>
                </div>
            </div>
        </div>
        <div class="">
            <div class="">
                <a class="header" data-toggle="collapse" href="#collapse5">
                    تولید محتوا در سایت نونو
                </a>
            </div>
            <div id="collapse5" class="collapse" data-parent="#accordion">
                <div class="">
                    <p>آنچه کاربر در وبسایت نونو و یا اپلیکش ها و سرویس های وابسته به سایت نونو منتشر می کند تحت عنوان
                        محتوای تولید شده توسط کاربر یاد می شود و مسئولیت آن بر عهده آن کاربر می باشد. این تولید محتوا
                        شامل موارد ذیل می شود: کلیه اطلاعات و عکس های درج شده توسط کاربر برای ثبت کالا، مشخصات حساب
                        کاربری، کلیه اطلاعات شخصی از جمله اطلاعات حساب بانکی و آدرس پستی، پیام های ارسال شده به پشتیبانی
                        سایت و یا سایر کاربران و به طور کلی هر آنچه از جانب کاربر در سایت منتشر گردد.</p>
                </div>
            </div>
        </div>
        <div class="">
            <div class="">
                <a class="header" data-toggle="collapse" href="#collapse6">
                    روش کار سیستم بازرسی کالا
                </a>
            </div>
            <div id="collapse6" class="collapse" data-parent="#accordion">
                <div class="">
                    <p>سیستم بازرسی کالا به عنوان وکیل طرفین معامله در هنگام خرید، فروش و معاوضه کالا در سایت عمل می‌کند
                        تا حقی از طرفین معامله ضایع نشود. کالای فروشنده را قبل از ارسال به خریدار بازرسی می‌کند تا با
                        ادعای ثبت شده فروشنده در هنگام ثبت کالا در سایت تطابق دهد. از طرف دیگر با بررسی کالا قبل از
                        ارسال به خریدار سلامت کالای فروشنده را تضمین می‌کند تا کالای وی از صدمات احتمالی از جانب خریدار
                        در امان باشد(<a href="#">اطلاعات بیشتر</a>)
                    </p>
                </div>
            </div>
        </div>
        <div class="">
            <div class="">
                <a class="header" data-toggle="collapse" href="#collapse7">
                    قیمت گذاری کالاها در نونو
                </a>
            </div>
            <div id="collapse7" class="collapse" data-parent="#accordion">
                <div class="">
                    <p>قیمت گذاری کالاها کاملا بر عهده صاحب کالا می‌باشد و نوِنو تنها در صورت مشاهده قیمت‌های خارج از
                        عرف و تعمدی که قصد ایجاد اختلال در سیستم خرید و فروش سایت داشته باشد، ضمن عدم تایید کالا به صاحب
                        کالا اخطار لازم را می‌دهد.</p>
                </div>
            </div>
        </div>
        <div class="">
            <div class="">
                <a class="header" data-toggle="collapse" href="#collapse8">
                    روش ارسال کالا
                </a>
            </div>
            <div id="collapse8" class="collapse" data-parent="#accordion">
                <div class="">
                    <p>در معاملات مستقیم پس از آنکه فرایند خرید توسط خریدار تکمیل شد فروشنده ملزم است کالا را ظرف ۲ روز
                        کاری به آدرس پستی خریدار ارسال کند و کد پیگیری مرسوله که توسط شرکت های پست ارائه می شود را از
                        بخش تایید ارسال کالا، ارسال کند.
                    </p>
                    <p>
                        در معاملات غیرمستقیم، پس از آنکه فرایند خرید توسط خریدار تکمیل شد، در شهرهایی که نوِنو در آن
                        نمایندگی دارد کارشناس نمایندگی کالای شما را درب منزل تحویل میگیرد. پس از انجام مراحل بازرسی در
                        نمایندگی کالا توسط آن نمایندگی به خریدار ارسال می‌شود. در شهر هایی که نوِنو فاقد نمایندگی می
                        باشد فروشنده ملزم است کالا را ظرف ۲ روز کاری به نزدیکترین نمایندگی نونو ارسال کند و کد پیگیری
                        مرسوله که توسط شرکت های پست ارائه می شود را از بخش تایید ارسال کالا، ارسال کند. نونو پس از
                        دریافت کالا از فروشنده و در صورت تایید آن توسط<a href="#"> سیستم بازرسی کالا</a>، کالا را ظرف ۲
                        تا ۴ روز کاری به
                        آدرس پستی خریدار ارسال می کند.
                    </p>
                </div>
            </div>
        </div>
        <div class="">
            <div class="">
                <a class="header" data-toggle="collapse" href="#collapse9">
                    هزینه ارسال کالا
                </a>
            </div>
            <div id="collapse9" class="collapse" data-parent="#accordion">
                <div class="">
                    <p>در معاملات مستقیم هزینه ارسال مستقیم کالا به خریدار برعهده فروشنده می‌باشد.
                    </p>
                    <p>
                        در معاملات غیرمستقیم در شهرهایی که نونو در آن نمایندگی ندارد هزینه ارسال کالا به نزدیکترین
                        نمایندگی نونو برعهده فروشنده می‌باشد. هزینه ارسال کالا از نونو به خریدار کاملا رایگان می‌باشد.
                    </p>
                </div>
            </div>
        </div>
        <div class="">
            <div class="">
                <a class="header" data-toggle="collapse" href="#collapse10">
                    شرکت‌های پست مورد تایید نونو
                </a>
            </div>
            <div id="collapse10" class="collapse" data-parent="#accordion">
                <div class="">
                    <p>فروشندگان ملزم به ارسال کالا از طریق شرکت‌های پست مورد تایید فروشگاه نوِنو هستند. در حال حاضر این
                        شرکت‌ها شامل پست پیشتاز جمهوری اسلامی ایران و شرکت تیپاکس می‌شود. نونو برای ارسال کالا به خریدار
                        از خدمات دو شرکت مذکور استفاده می‌کند.</p>
                </div>
            </div>
        </div>
        <div class="">
            <div class="">
                <a class="header" data-toggle="collapse" href="#collapse11">
                    تعرفه‌های خدمات در نونو
                </a>
            </div>
            <div id="collapse11" class="collapse" data-parent="#accordion">
                <div class="">
                    <p>استفاده از کلیه خدمات نوِنو تا قبل از به فروش رفتن کالا کاملا رایگان می باشد و تنها پس از انجام
                        معامله
                        درصدی از مبلغ فروش به عنوان تعرفه در نظر گرفته می شود. نوِنو بابت ارائه خدمات به کاربران خود دو
                        نوع
                        تعرفه دریافت می کند: ۱- کمیسیون حاصل از فروش کالا ۲- هزینه سیستم بازرسی کالا. در بخش‌های ۱۰.۵ و
                        ۱۰.۶ از
                        صفحه قوانین و شرایط استفاده از نونو نحوه محاسبه تعرفه‌ها در زمان معامله کالا در سایت با جزئیات
                        شرح داده
                        شده است.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="mr-2" id="accordion">
        <div class="mt-3">
            <h5 class="mb-5 mr-3" style="color: orange;"> راهنمای خرید</h5>
        </div>
        <div class="">
            <div class="">
                <a class="header" data-toggle="collapse" href="#collapse21">
                    ابهام و سوال در مورد کالا
                </a>
            </div>
            <div id="collapse21" class="collapse" data-parent="#accordion">
                <div class="">
                    <p>اگر توضیحات محصول برای شما کافی نبود و قصد داشتید در مورد کالا از فروشنده اطلاعات بیشتری بپرسید
                        کافی است در صفحه همان کالا از بخش چت با فروشنده آن کالا ارتباط آنلاین برقرار نمایید.</p>
                </div>
            </div>
        </div>
        <div class="">
            <div class="">
                <a class="header" data-toggle="collapse" href="#collapse22">
                    نحوه خرید کالا
                </a>
            </div>
            <div id="collapse22" class="collapse" data-parent="#accordion">
                <div class="">
                    <p>وقتی کالای مورد نظر خود را انتخاب کردید کافی است با کلیک بر روی دکمه افزودن به سبد خرید آن کالا
                        را به سبد خرید خود اضافه کنید. در ادامه با وارد شدن به صفحه سبد خرید و ادامه فرایند خرید اگر
                        اطلاعات حساب کاربری خود را تکمیل کرده باشید مستقیما به صفحه پرداخت هدایت خواهید شد. در غیر
                        اینصورت بایستی ابتدا اطلاعات حساب کاربری خود را تکمیل کنید.</p>
                </div>
            </div>
        </div>
        <div class="">
            <div class="">
                <a class="header" data-toggle="collapse" href="#collapse23">
                    مدت زمان ارسال کالا به خریدار
                </a>
            </div>
            <div id="collapse23" class="collapse" data-parent="#accordion">
                <div class="">
                    <p>پس از تکمیل فرایند خرید، دریافت کالا از فروشنده بین ۲ تا ۴ روز کاری خواهد بود (بستگی به شهر
                        فروشنده و استقرار نمایندگی های نونو دارد). فرایند بازرسی کالا توسط سیستم بازرسی، بسته‌بندی و
                        ارسال کالا به خریدار بین ۲ تا ۴ روز کاری طول خواهد کشید.
                    </p>
                </div>
            </div>
        </div>
        <div class="">
            <div class="">
                <a class="header" data-toggle="collapse" href="#collapse24">
                    امانت وجه پرداختی
                </a>
            </div>
            <div id="collapse24" class="collapse" data-parent="#accordion">
                <div class="">
                    <p>از زمانی که فرایند خرید را تکمیل کردید تا زمان دریافت کالا و ثبت رضایت از خرید، پول پرداختی شما
                        نزد نونو به امانت باقی می‌ماند و برای فروشنده قابل برداشت نیست.</p>
                </div>
            </div>
        </div>
        <div class="">
            <div class="">
                <a class="header" data-toggle="collapse" href="#collapse25">
                    تایید دریافت کالا
                </a>
            </div>
            <div id="collapse25" class="collapse" data-parent="#accordion">
                <div class="">
                    <p>خریدار موظف است بلافاصله بعد از دریافت کالا وارد حساب کاربری خود شده و از لیست منو حساب کاربری
                        خود دریافت کالای خود را تایید کند. در صورتی که تا ۵ روز بعد از ارسال کالا به خریدار، خریدار
                        دریافت کالای خود را تایید نکند و به تماس پشتیبانی سایت نیز پاسخگو نباشد به منزله تایید دریافت
                        کالا و ثبت رضایت از جانب وی می‌باشد و وجه پرداختی وی برای فروشنده قابل برداشت می‌شود.</p>
                </div>
            </div>
        </div>
        <div class="">
            <div class="">
                <a class="header" data-toggle="collapse" href="#collapse26">
                    قیمت کالاها
                </a>
            </div>
            <div id="collapse26" class="collapse" data-parent="#accordion">
                <div class="">
                    <p>در نونو کالاهای نو استفاده نشده برای فروش قرار داده می‌شوند. همان کالاهایی که برای صاحبش بلا
                        استفاده هستند و تصمیم گرفته با فروش آن هم کالا را به دست مصرف کننده واقعی برسونه و هم کالاشو به
                        پول تبدیل کنه. بنابراین همواره قیمت‌ها در سایت نونو به طرز شگفت انگیزی بسیار پایین تر از قیمت
                        کالاهای سایر فروشگاهها است. در واقع کالای نو میخری به قیمت دست دوم!
                    </p>
                </div>
            </div>
        </div>
        <div class="">
            <div class="">
                <a class="header" data-toggle="collapse" href="#collapse27">
                    مرجوعی کالا
                </a>
            </div>
            <div id="collapse27" class="collapse" data-parent="#accordion">
                <div class="">
                    <p>با توجه به وجود سیستم بازرسی کالا در سایت نونو، تلاش شده است وجود عیب و ایراد در محصول به حداقل
                        مقدار ممکن برسد. با وجود این ممکن است خریدار از خرید خود پشیمان باشد و قصد مرجوعی داشته باشد.
                        مطابق قانون خریدار تا ۷ روز پس از تسلیم کالا به وی در صورتی که رضایت از خرید را ثبت نکرده باشد
                        میتواند کالای خود را مرجوع کند و وجه پرداختی خود را استرداد کند.(<a href="">اطلاعات بیشتر</a>)
                    </p>
                </div>
            </div>
        </div>
        <div class="">
            <div class="">
                <a class="header" data-toggle="collapse" href="#collapse28">
                    روش‌های پرداخت
                </a>
            </div>
            <div id="collapse28" class="collapse" data-parent="#accordion">
                <div class="">
                    <p>خریداران می توانند با استفاده از کلیه کارت های عضو شتاب نسبت به خرید کالاهای مورد نیاز خود با
                        محدودیت سقف ۵۰ میلیون تومان در هر تراکنش اقدام نمایند
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="mr-2" id="accordion">
        <div class="mt-3">
            <h5 class="mb-5 mr-3" style="color: orange;"> راهنمای فروش</h5>
        </div>
        <div class="">
            <div class="">
                <a class="header" data-toggle="collapse" href="#collapse31">
                    ثبت کالا در سایت
                </a>
            </div>
            <div id="collapse31" class="collapse" data-parent="#accordion">
                <div class="">
                    <p>پس از ثبت نام در سایت می‌توانید با زدن دکمه “ثبت کالای جدید” اقدام به ثبت کالا نمایید.</p>
                </div>
            </div>
        </div>
        <div class="">
            <div class="">
                <a class="header" data-toggle="collapse" href="#collapse32">
                    عکس کالاهای ثبت شده
                </a>
            </div>
            <div id="collapse32" class="collapse" data-parent="#accordion">
                <div class="">
                    <p>برای اینکه کالای شما تایید شود بایستی کلیه عکس‌های ثبت شده با فرمت png و یا jpeg باشد و حداکثر ۱
                        مگابایت باشد و مجموع حجم عکس‌ها بیشتر از ۳ مگابایت نباشد. اندازه استاندارد و مناسب عکس برای سایت
                        نوِنو ۶۰۰*۶۰۰ پیکسل و با پس زمینه سفید می‌باشد. هرچقدر عکس کالاهای شما از استاندارد بالاتری
                        برخوردار باشد شانس بیشتری برای قرار گرفتن در صفحه اول سایت خواهد داشت.</p>
                </div>
            </div>
        </div>
        <div class="">
            <div class="">
                <a class="header" data-toggle="collapse" href="#collapse33">
                    توضیحات و اطلاعات کالای ثبت شده
                </a>
            </div>
            <div id="collapse33" class="collapse" data-parent="#accordion">
                <div class="">
                    <p>توضیحات و اطلاعات کالا باید دقیق و کامل باشد بصورتی که برای خریدار جای ابهام نباشد. هرچقدر این
                        اطلاعات کاملتر و دقیق‌تر باشد شانس فروش کالای شما بیشتر می‌شود و از طرف دیگر در سیستم بازرسی
                        کالا، کالای شما شانس بیشتری برای تایید خواهد داشت.
                    </p>
                </div>
            </div>
        </div>
        <div class="">
            <div class="">
                <a class="header" data-toggle="collapse" href="#collapse34">
                    روش کار سیستم بازرسی کالا
                </a>
            </div>
            <div id="collapse34" class="collapse" data-parent="#accordion">
                <div class="">
                    <p>سیستم بازرسی کالا هر آنچه شما در توضیحات کالا ذکر کرده‌اید را مورد بررسی و راستی‌آزمایی قرار
                        می‌دهد. بنابراین شما بایستی صحیح‌ترین و صادقانه‌ترین اطلاعات را در مورد کالای خود ذکر کنید.</p>
                </div>
            </div>
        </div>
        <div class="">
            <div class="">
                <a class="header" data-toggle="collapse" href="#collapse35">
                    ارسال کالا
                </a>
            </div>
            <div id="collapse35" class="collapse" data-parent="#accordion">
                <div class="">
                    <p>پس از آنکه فرایند خرید توسط خریدار تکمیل شد، در شهرهایی که نونو در آن نمایندگی دارد از طرف
                        نمایندگی نونو کالای شما را درب منزل تحویل میگیرند تا پس از انجام مراحل بازرسی در نمایندگی آن را
                        برای خریدار ارسال کنند. در شهر هایی که نونو فاقد نمایندگی می باشد فروشنده ملزم است کالا را ظرف ۲
                        روز کاری به نزدیکترین نمایندگی نونو ارسال کند و کد پیگیری مرسوله که توسط شرکت های پست ارائه می
                        شود را از بخش منوی حساب کاربری، ارسال کند. </p>
                </div>
            </div>
        </div>
        <div class="">
            <div class="">
                <a class="header" data-toggle="collapse" href="#collapse36">
                    قیمت‌گذاری کالاها
                </a>
            </div>
            <div id="collapse36" class="collapse" data-parent="#accordion">
                <div class="">
                    <p>برای اینکه کالای نوِنو شما به اندازه کافی برای خریدار جذاب باشد باید کالای شما به اندازه کافی
                        تخفیف داشته باشد. بنابراین در قیمت‌گذاری کالاها دقت کافی داشته باشید. در ضمن اگر کالای شما نسبت
                        به قیمت بازار حداقل ۵۰ درصد پایین تر باشد مشمول تخفیف تعرفه کمیسیون می‌شود (<a href="">اطلاعات
                            بیشتر راجع به تخفیف تعرفه کمیسیون</a>)
                    </p>
                </div>
            </div>
        </div>
        <div class="">
            <div class="">
                <a class="header" data-toggle="collapse" href="#collapse37">
                    کمیسیون فروش
                </a>
            </div>
            <div id="collapse37" class="collapse" data-parent="#accordion">
                <div class="">
                    <p>کمیسیون فروش کالا در نونو برحسب قیمت کالاها متغییر میباشد. اطلاعات کامل در خصوص محاسبه تعرفه
                        کمیسیون فروش در بخش <a href="">قوانین و شرایط استفاده از نونو</a> شرح داده شده است.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="mr-2" id="accordion">
        <div class="mt-3">
            <h5 class="mb-5 mr-3" style="color: orange;"> راهنمای معاوضه</h5>
        </div>
        <div class="">
            <div class="">
                <a class="header" data-toggle="collapse" href="#collapse41">
                    هنوز فعال نشده است
                </a>
            </div>
            <div id="collapse41" class="collapse" data-parent="#accordion">
                <div class="">
                    <p>راهنما</p>
                </div>
            </div>
        </div>
    </div>
</div>