<style>
    a {
        color: orange;
    }

    a:hover {
        color: orange;
    }

    .header {
        color: black;
        margin-top: 20px;
        font-weight: bold;
        margin-right: 10px;
        margin-left: 10px;
    }

    p {
        margin-right: 20px;
        margin-left: 20px;
    }

    h5,
    h4 {
        font-weight: bolder;
        color: black;
    }
</style>
<div class="container">
    <div class="mr-2 ml-2">
        <div class="mt-3">
            <h5 class="mb-5 mr-3" style="color: orange;">&nbsp; </h5>
        </div>
        <div class="mt-3 text-center">
            <h5 class="mb-5 header mr-3">سیستم بازرسی کالا</h5>
        </div>
        <div class="mt-5 d-flex justify-content-center">
            <img src="~/assets/img/Inspection.png" class="attachment-large size-large img-fluid  rounded"
                alt="درباره نونو" loading="lazy">

        </div>
        <div class="mt-5">
            <p>
                ۱. فروشگاه نونو جهت تضمین حداکثری رضایت مشتریان خود «سیستم بازرسی کالا» را تدارک دیده است. هدف از این
                سیستم کاهش اختلافات احتمالی بین طرفین معامله در سایت نونو به حداقل مقدار ممکن است.
            </p>
            <p>
                ۲. روش کار سیستم بازرسی کالا بدین گونه است که این سیستم بصورت یک واسطه مستقیم در معاملات فروشندگان و
                خریداران و یا معاوضه کنندگان سایت نونو حضور پیدا می‌کند و قبل از اینکه کالا به دست خریدار برسد از نزدیک
                کالا را مشاهده و بررسی کرده و صحت ادعای صاحب کالا را تایید و یا رد می‌کند. فروشنده پس از به فروش رفتن
                کالای خود در مهلت مقرر کالا را آماده سازی و به نزدیکترین نمایندگی فروشگاه نونو تحویل می‌دهد (اگر در شهر
                محل سکونت فروشنده، نونو نمایندگی داشته باشد به مامور نونو تحویل می‌دهد و در غیر اینصورت باید به
                نزدیکترین نمایندگی نونو ارسال کند. در صورتی که کالای ارسال شده به تایید سیستم بازرسی کالا برسد مجدد بسته
                بندی شده و به آدرس پستی خریدار ارسال می‌گردد. در این سیستم به خریدار این اطمینان داده می‌شود تا کالای
                خریداری شده با مشخصات و توضیحاتی که صاحب کالا در هنگام ثبت کالا در سایت بیان کرده تفاوت نداشته باشد. از
                طرف دیگر صاحب کالا نیز اطمینان خاطر دارد اگر کالا پس از دریافت خریدار دچار نقص شود خریدار نمی‌تواند
                ادعای واهی داشته باشد.
            </p>
            <p>
                ۳. کاربران دقت کنند در سیستم بازرسی کالا صرفا ادعای صاحب کالا مورد سنجش قرار میگیرد و نه موارد بیشتر؛
                یعنی آنچه صاحب کالا هنگام ثبت کالا در سایت در مورد مشخصات ظاهری و کاربردی کالای خود شرح داده است مورد
                راستی‌آزمایی قرار می‌گیرد. بنابراین کاربران دقت کنند اگر در مورد کالایی نیاز به توضیحات بیشتری دارند
                حتما از بخش گفتگوی چت با فروشنده اقدام کنند.
            </p>
            <p>
                ۴. جهت تضمین رضایت مشتری، کارشناسان نونو در سیستم بازرسی کالا حتی اگر با دانش و تخصص خود نتوانند مشخصات
                ظاهری و کاربردی کالا را به درستی بسنجند حتما از متخصصان بیرونی ویژه آن حوزه کالا بهره خواهند برد تا به
                یک نتیجه نهایی قابل اتکا دست یابند.
            </p>
            <p>
                ۵. با وجود اینکه در سیستم بازرسی کالا حداکثر دقت لازم اتخاذ می‌شود، تایید کالا از طریق سیستم مذکور به
                معنای تایید صددرصد ادعای صاحب کالا نیست و درصورتی که کالایی پس از تایید سیستم بازرسی کالا به دست خریدار
                برسد و خلاف ادعای فروشنده اثبات شود همچنان حقوق خریدار محفوظ است و می‌تواند بدون صرف هزینه اضافی کالا را
                مرجوع کند و وجه پرداختی را تماما استرداد کند.
            </p>
            <p>
                ۶. جهت اثبات ادعای صاحب کالا سیستم بازرسی کالا از ابزارهای بصری و غیربصری رایج استفاده می‌کند و در صورت
                لازم با صرف هزینه اضافی از متخصصان بیرونی خاص آن کالا جهت تایید نهایی کالا بهره خواهد برد. فروشگاه نوِنو
                مجهز به آزمایشگاه و سیستم‌های پیشرفته بازرسی نیست. بنابراین ویژگی‌های کالا که نیاز به آزمایشگاه و یا
                تجهیزات پیشرفته جهت اثبات آن هست جز خدمات سیستم بازرسی کالا نونو نمی‌باشد.
            </p>
            <p>
                ۷. با توجه به اینکه <a href="">سایت نوِنو</a> محلی برای معامله کالاهای نو استفاده نشده (کاملا نوِنو)
                می‌باشد و اینکه در
                سیستم بازرسی کالا لازم است کالا از نزدیک مشاهده و بررسی شود، بنابراین نمی‌توان کالا را بصورت آکبند از
                طریق این سیستم فروخت و حتی اگر کالا آکبند باشد هنگام بازرسی کالا از جعبه مخصوص خود خارج می‌شود و کالا
                بصورت آکبند به دست خریدار نخواهد رسید (در صورت مرجوع شدن کالا نیز فروشنده حق ندارد ادعا کند که کالا
                بایستی آکبند مرجوع شود).
            </p>
            <p>
                ۸. نونو از کلیه پیشنهادات کاربران جهت بهبود سیستم بازرسی کالا استقبال می‌کند و شما همراهان عزیز
                می‌توانید از طریق<a href=""> کانال‌های ارتباطی سایت </a>به خصوص شبکه های اجتماعی نظیر<a
                    href="">اینستاگرام</a> انتقادات و پیشنهادات
                ارزشمند خود را ارائه دهید.
            </p>
        </div>
        <hr>
    </div>
</div>