<style>
    a {
        color: orange;
        font-size: medium;
    }

    a:hover {
        color: orange;
        font-size: large;
    }

    .header {
        color: black;
        margin-top: 20px;
        font-weight: bold;
        margin-right: 10px;
        margin-left: 10px;
    }

    .header2 {
        color: orange;
        margin-top: 20px;
        margin-bottom: 20px;
        font-weight: bold;
        margin-right: 10px;
        margin-left: 10px;
        font-size: large;
    }

    p {
        margin-right: 20px;
        margin-left: 20px;
    }

    h4,
    h5 {
        font-weight: bold;
    }
</style>
<div class="container">
    <div class="mr-2 ml-2">
        <div class="mt-3">
            <h5 class="mb-5 mr-3" style="color: orange;">&nbsp; </h5>
        </div>
        <div class="mt-3 text-center">
            <h4 class="mb-5 header mr-3">نوِنو،
                <span class="text-warning">بازاری برای همه</span>
            </h4>
            <h6 class="text-secondary">تجربه‌ای نو در معاملات اینترنتی کالا با سیستم بازرسی کالا</h6>
        </div>
        <div class="mt-5">
        </div>
        <div class="card-body row d-flex justify-content-center">
            <div class="col-xl-5 col-12 shadow-lg p-3 mb-5 bg-white rounded m-1">
                <h5 class="mb-5 header mr-3 text-danger text-center">
                    اگر از نوِنو خرید کنی
                </h5>
                <div class="mt-2 mr-3 ">
                    <div class="">
                        <a class="collapsed header" data-toggle="collapse" href="#collapse1">
                            ارسال رایگان کالا
                        </a>
                    </div>
                    <div id="collapse1" class="collapse" data-parent="#accordion">
                        <div class="mt-2">
                            <p>
                                چرا نونو؟ چون در فروشگاه اینترنتی نوِنو ارسال کالا بدون محدودیت قیمت برای کلیه خریداران
                                رایگان میباشد.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="mt-2 mr-3 ">
                    <div class="">
                        <a class="collapsed header" data-toggle="collapse" href="#collapse2">
                            خرید یا معاوضه بدون محدودیت مکانی و زمانی
                        </a>
                    </div>
                    <div id="collapse2" class="collapse" data-parent="#accordion">
                        <div class="mt-2">
                            <p>
                                چرا نونو؟ چون در فروشگاه اینترنتی نونو خرید و یا معاوضه کالا از تمام شهرهای کشور در ۲۴
                                ساعت شبانه روز و هفت روز هفته میسر است. فقط کافی است کالای مورد نیاز خود را در سایت پیدا
                                کنید. </p>
                        </div>
                    </div>
                </div>
                <div class="mt-2 mr-3 ">
                    <div class="">
                        <a class="collapsed header" data-toggle="collapse" href="#collapse3">
                            سیستم بازرسی کالا
                        </a>
                    </div>
                    <div id="collapse3" class="collapse" data-parent="#accordion">
                        <div class="mt-2">
                            <p>
                                چرا نونو؟ چون در فروشگاه اینترنتی نونو
                                <a href="/foot/Inspection"> سیستم بازرسی کالا</a>
                                برای تضمین رضایت مشتری بنا شده
                                است. در این سیستم کالا را قبل از ارسال، از فروشنده تحویل می‌گیریم و پس از راستی آزمایی
                                ادعای فروشنده و تایید کالا، آن را برای خریدار ارسال می‌کنیم. بنابراین با خیال راحت
                                می‌توانید خرید کنید.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="mt-2 mr-3 ">
                    <div class="">
                        <a class="collapsed header" data-toggle="collapse" href="#collapse4">
                            امکان چانه زنی آنلاین با فروشنده

                        </a>
                    </div>
                    <div id="collapse4" class="collapse" data-parent="#accordion">
                        <div class="mt-2">
                            <p>
                                چرا نونو؟ چون در فروشگاه اینترنتی نونو شما می‌توانید بصورت آنلاین با صاحب کالا بر سر
                                قیمت چانه بزنید و کالا را با قیمتی کمتر از قیمت ثبت شده در سایت بخرید بدون اینکه لازم
                                باشد فروشنده قیمت کالای خود را تغییر دهد.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="mt-2 mr-3 ">
                    <div class="">
                        <a class="collapsed header" data-toggle="collapse" href="#collapse5">
                            امکان چت آنلاین با فروشنده
                        </a>
                    </div>
                    <div id="collapse5" class="collapse" data-parent="#accordion">
                        <div class="mt-2">
                            <p>
                                چرا نونو؟ چون در فروشگاه اینترنتی نونو شما می‌توانید بصورت آنلاین با صاحب کالا گفتگو
                                کنید و قبل از خرید اطلاعات کافی در مورد کالا از وی دریافت کنید.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="mt-2 mr-3 ">
                    <div class="">
                        <a class="collapsed header" data-toggle="collapse" href="#collapse6">
                            کالای کاملا نو میخری به قیمت کالای کارکرده
                        </a>
                    </div>
                    <div id="collapse6" class="collapse" data-parent="#accordion">
                        <div class="mt-2">
                            <p>
                                چرا نونو؟ چون فروشگاه اینترنتی نونو بازار کالاهای نو استفاده نشده می‌باشد. در این بازار
                                خبری از کالاهای کهنه و کارکرده نیست. فقط کالاهای واقعا نو به فروش می‌رسد. اما قیمت
                                کالاها در مقایسه با محصولات سایر فروشگاه‌های کشور بسیار پایین‌تر و در حد قیمت کالاهای
                                کارکرده می‌باشد، زیرا صاحب کالا پس از خرید پشیمان شده است و قصد دارد بخشی از پول خود را
                                زنده کند.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="mt-2 mr-3 ">
                    <div class="">
                        <a class="collapsed header" data-toggle="collapse" href="#collapse7">
                            تضمین بازگشت پول و مرجوعی کالا
                        </a>
                    </div>
                    <div id="collapse7" class="collapse" data-parent="#accordion">
                        <div class="mt-2">
                            <p>
                                چرا نونو؟ چون در فروشگاه اینترنتی نونو‌، ضمانت بازگشت پول و مرجوعی کالا داریم. تا ۷ روز
                                پس از تسلیم کالا به دست خریدار، وی می‌تواند کالای خریداری شده را مرجوع کند و پول خود را
                                پس بگیرد.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="mt-2 mr-3 ">
                    <div class="">
                        <a class="collapsed header" data-toggle="collapse" href="#collapse8">
                            خبری از فصل حراج و تخفیف نیست
                        </a>
                    </div>
                    <div id="collapse8" class="collapse" data-parent="#accordion">
                        <div class="mt-2">
                            <p>
                                چرا نونو؟ چون دیگر لازم نیست منتظر فصل حراج و تخفیف بمانید! در فروشگاه اینترنتی نونو یک
                                حراجستون واقعی برای تمام فصول و روزهای سال فراهم کرده‌ایم. قیمت کالاها گویای واقعیت است.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="mt-2 mr-3 ">
                    <div class="">
                        <a class="collapsed header" data-toggle="collapse" href="#collapse9">
                            امانت وجه پرداختی
                        </a>
                    </div>
                    <div id="collapse9" class="collapse" data-parent="#accordion">
                        <div class="mt-2">
                            <p>
                                فروشگاه نونو امین شماست. تا زمانی که کالای خریداری شده به دست شما نرسد و ثبت رضایت از
                                سوی شما صورت نگیرد، وجه پرداختی شما بابت خرید کالا نزد سایت نونو به امانت باقی می‌ماند و
                                برای فروشنده قابل برداشت نمی‌شود.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-5 col-12 shadow-lg p-3 mb-5 bg-white rounded m-1">
                <h5 class="mb-5 header mr-3 text-info text-center">
                    اگر در نوِنو بفروشی
                </h5>
                <div class="mt-2 mr-3 ">
                    <div class="">
                        <a class="collapsed header" data-toggle="collapse" href="#collapse1">
                            ثبت رایگان کالا برای فروش یا معاوضه
                        </a>
                    </div>
                    <div id="collapse1" class="collapse" data-parent="#accordion">
                        <div class="mt-2">
                            <p>
                                چرا نونو؟ چون در نونو هیچ محدودیتی برای فروش کالا وجود ندارد. شما می‌توانید به تعداد
                                نامحدود کالا را بصورت کاملا رایگان برای فروش یا معاوضه در سایت قرار دهید.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="mt-2 mr-3 ">
                    <div class="">
                        <a class="collapsed header" data-toggle="collapse" href="#collapse2">
                            نمایش رایگان کالا در صفحه اول سایت
                        </a>
                    </div>
                    <div id="collapse2" class="collapse" data-parent="#accordion">
                        <div class="mt-2">
                            <p>
                                چرا نونو؟ چون در فروشگاه نونو بدون دریافت هزینه تبلیغات، کالای شما را در صفحه اول سایت
                                نمایش می‌دهیم تا شانس فروش آن کالا حداکثر شود. هر چقدر محتوای آگهی شما از جمله عکس از
                                استاندار بالاتری برخوردار باشد شانس بیشتری برای نمایش آن در صفحه اول وجود دارد.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="mt-2 mr-3 ">
                    <div class="">
                        <a class="collapsed header" data-toggle="collapse" href="#collapse3">
                            فروش یا معاوضه بدون محدودیت مکانی و زمانی
                        </a>
                    </div>
                    <div id="collapse3" class="collapse" data-parent="#accordion">
                        <div class="mt-2">
                            <p>
                                چرا نونو؟ چون در فروشگاه اینترنتی نونو فروش و یا معاوضه کالا از تمام شهرهای کشور در ۲۴
                                ساعت شبانه روز و هفت روز هفته میسر است. فقط کافی است کالای خود را در سایت ثبت کنید.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="mt-2 mr-3 ">
                    <div class="">
                        <a class="collapsed header" data-toggle="collapse" href="#collapse4">
                            فروش کالا بصورت مزایده (بالاترین قیمت پیشنهادی)
                        </a>
                    </div>
                    <div id="collapse4" class="collapse" data-parent="#accordion">
                        <div class="mt-2">
                            <p>
                                چرا نونو؟ چون در فروشگاه نوِنو سیستم مزایده آنلاین وجود دارد. در صورتی نمی‌توانید کالای
                                خود را قیمت گذاری کنید و یا دوست دارید کالای خود را به بالاترین قیمت پیشنهادی از سوی
                                خریداران بفروشید می‌توانید بجای ثبت قیمت ثابت برای کالای خود آن را بصورت مزایده به فروش
                                بگذارید.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="mt-2 mr-3 ">
                    <div class="">
                        <a class="collapsed header" data-toggle="collapse" href="#collapse5">
                            لازم نیست پاتو بیرون از خونه بزاری
                        </a>
                    </div>
                    <div id="collapse5" class="collapse" data-parent="#accordion">
                        <div class="mt-2">
                            <p>
                                چرا نونو؟ چون در نونو بعد از اینکه کالای شما از طریق سیستم بازرسی به فروش رفت کارشناس
                                نونو کالای شما را درب منزلتان از شما تحویل می‌گیرد.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="mt-2 mr-3 ">
                    <div class="">
                        <a class="collapsed header" data-toggle="collapse" href="#collapse6">
                            پرداخت کمیسیون بسیار پایین
                        </a>
                    </div>
                    <div id="collapse6" class="collapse" data-parent="#accordion">
                        <div class="mt-2">
                            <p>
                                چرا نونو؟ چون در فروشگاه اینترنتی نونو تا قبل از فروش موفق کالا هیچ هزینه‌ای از فروشنده
                                دریافت نمی‌شود. پس از فروش کالا درصد کمیسیون دریافتی از صاحب کالا حداقل مقدار ممکن است و
                                از تعرفه تمام فروشگاههای اینترنتی کمتر میباشد.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="mt-2 mr-3 ">
                    <div class="">
                        <a class="collapsed header" data-toggle="collapse" href="#collapse7">
                            جایزه ویژه برای فروشندگان منصف
                        </a>
                    </div>
                    <div id="collapse7" class="collapse" data-parent="#accordion">
                        <div class="mt-2">
                            <p>
                                فروشگاه نونو که با شعار اسراف کمتر، وجدان راحت و جهان سالم‌تر وارد میدان عمل شده است، در
                                راستای شعار خود برای فروشندگان منصف که در این هدف هم قدم با نونو شوند جایزه ویژه در نظر
                                گرفته است. اگر قیمت کالای کاملا نو استفاده نشده فروشنده نسبت به قیمت بازار حداقل ۵۰ درصد
                                پایین‌تر باشد تعرفه کمیسیون برای فروشنده با تخفیف ۵۰ درصدی محاسبه خواهد شد. تخفیف
                                کمیسیون به صورت اعتبار به حساب کیف پول وی بازگشت داده خواهد شد.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="mt-2 mr-3 ">
                    <div class="">
                        <a class="collapsed header" data-toggle="collapse" href="#collapse8">
                            تضمین حفظ سلامت کالا
                        </a>
                    </div>
                    <div id="collapse8" class="collapse" data-parent="#accordion">
                        <div class="mt-2">
                            <p>
                                چرا نونو؟ چون در فروشگاه اینترنتی نوِنو سیستم بازرسی کالا برای تضمین رضایت مشتری بنا شده
                                است. در این سیستم کالا را از شما تحویل گرفته و مورد بررسی کامل قرار می‌دهیم و سپس برای
                                خریدار ارسال می‌کنیم. بنابراین بدون نگرانی می‌توانید کالای خود را بفروشید و نگرانی بابت
                                اینکه خریدار ممکن است به کالای شما صدمه وارد کند ولی ادعا کند که کالا از قبل عیب داشته
                                است وجود ندارد. بنابراین ما حفظ سلامت کالای شما را تضمین می‌کنیم.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div>
            <h4 class="text-center mb-3">نونو چگونه بازاری هست؟</h4>
            <p style="font-size: medium;">
                نوِنو تنها مرجع تخصصی خرید، فروش و معاوضه اینترنتی کالاهای کاملا نو استفاده نشده (کالاهای به اصطلاح
                نوِنو) با
                <a href="/foot/Inspection">سیستم بازرسی کالا</a>
                می‌باشد. نونو بازاری فراهم کرده است تا افراد کالاهای کاملا نو بلااستفاده خود
                را که در گوشه‌ای از منزلشان خاک می‌خورد با قیمت مناسب به دست مصرف کننده واقعی برسانند.
            </p>
        </div>
    </div>
    <hr>
    <div>
        <div class="mt-3 ">
        </div>
        <div class="">
            <div class="shadow-lg p-3 mb-5 bg-white rounded">
                <div class="container">
                    <div class="mt-1">
                        <div class="">
                            <h4 class="text-center mb-3">
                                نوِنو کیف پولتو شارژ میکنه!
                            </h4>
                        </div>
                        <div>
                            <p class="" style="font-size: medium;">با دعوت از دوستانت به نوِنو به ازای هر نفر ۱۰ هزار
                                تومان جایزه از نوِنو میگیری! این جایزه
                                هیچ سقفی ندارد و بصورت اعتبار وارد کیف پولت میشه.

                                نونو برای فروشندگان منصف جایزه ویژه در نظر گرفته است. در راستای شعار نونو (اسراف کمتر،
                                وجدان راحت و جهان سالم‌تر)، اگر کالای کاملا نو استفاده نشده‌ات را با تخفیف حداقل ۵۰
                                درصدی نسبت به قیمت بازار بفروشی، نونو ۵۰ درصد تعرفه کمسیون را به شما تخفیف میده! و میزان
                                تخفیف کمیسیون را به صورت اعتبار به کیف پولت شارژ میکنه.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>