<div style="border-radius: 9px; background-image: url(../assets/img/theme/14.jpg);margin-top: 25px; background-size: cover;" class="col-12  card mb-3 shadow">
                                <div class=" m-2 " style="text-align: center;">
                                        <p style="font-size: 12px;" class=" text-info">دوستان دعوت شده و موفق به خرید شما در نو نو</p>
                                </div>
                                <div class="table-responsive">
                                    <table class="table table-order">
                                                                        <thead>
                                                                            <tr>
                                                                                <th>نام</th>
                                                                                <th> شماره تماس </th>
                                                                                <th>  صفحه فروشنده </th>
                                                                                
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            @if (ViewBag.s != null)
                                                                            {
                                                                                foreach (var item in ViewBag.s)
                                                                                {
                                                                                    <tr>
                                                                                        <td>@item.NameFamily</td>
                                                                                        <td> @item.Phone </td>
                                                                                        <td><a class="btn btn-info" href="/@item.Random_Link">مشاهده</a> </td>

                                                                                    </tr>
                                                                                    
                                                                                }
                                                                                
                                                                            }
                                                                            
                                                                        </tbody>
                                    </table>
                                </div>
</div>