<style>
    .hover1:hover {
        background-color: #59b63fbd;
        color: #ffffff;
    }
</style>
@model ViewModel.AdminViewModel.Order.Vm_Factor
<div class="content-body">
    <div class="col-lg-12">
        <div style="max-width: 600px !important; margin: auto;" class="card">
            <div class="card-heade  m-3" style="text-align: center;  ">
                <div class="alert    alert-square "
                    style="background-color: #EA5455;  color: #ffffff; box-shadow: 0 1px 12px 0 rgba(0,0,0,0.2);">
                    <h4 style="margin-top: 0rem; margin-bottom: 0rem; font-size: 17px;" class="card-title"> <span
                            style="font-weight: bold; " class="text-light">  علت عدم تایید کالا  </h4>
                </div>
            </div>
            <div class="col-xl-12 col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="basic-form">
                                <form action="/Admin/Order/WyNo" method="POST" >
                                <label style="font-weight: bold; font-size:14px;" class="text-label"> ورودی یکی از فیلد ها الزامی میباشد    <span style="color: red;">*</span></label>
                                <div style=" border: 1px solid #b3b3b3 !important; border-radius: 10px; margin-top: 5px; ">
                                    <div style="margin: 15px;">
                                                <div class="form-group">
                                                        <div style="padding: 14px;" class="form-group">
                                                            <label style="font-weight: bold; font-size:14px"
                                                                class="text-label mb-1"> توضیحات در مورد مرجوعی
                                                            </label>
                                                            <input style="border-radius: 10px;" type="text"
                                                                class="form-control" placeholder=" توضیحات " required asp-for="Why_Return_Admin_Bazrasi"  >
                                                        </div>
                                                </div>
                                    </div>
                                </div>
                                <button
                                    style="font-weight: bold;margin-top: 12px; font-size:16px; background-color: #59b63f; border-color: green;"
                                    class="btn btn-lg btn-danger btn-block hover1" type="submit"> ثبت</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>