<section id="data-list-view" class="data-list-view-header">
  <div class="table-responsive">
    <table class="table data-list-view">
      <thead>
        <tr>
          <th></th>
          <th>ردیف</th>
          <th> کد ثبت </th>
          <th>  عنوان  </th>
           <th> زمان ثبت </th>
           <th> عکس کالا </th>
           <th> کاربر  </th>
          <th> عملیات</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td></td>
          <td class="product-category">1</td>
          <td class="product-name">2</td>
            <td class="product-category">3 </td>

            <td class="product-category">item.Time </td>
            <td class="product-category"> tytyyt</td>
               <td class="product-category">item.Name</td>
           <td class="product-action">
             <div class="col-lg-3 col-md-3 mb-1">
                <div class="btn-group" role="group" aria-label="Basic example">
                  <a href="/admin/Pay/Detail?b=item.Product_Id" class="btn btn-primary btn-sm" >  جزییات </a>
                  
                </div>
              </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>

